### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Pasta listasColecoes
src/br/com/mathew/aplicandoAOrientacaoAObjeto/listasColecoes/src/
src/br/com/mathew/listasEColecoesDeDados/desafio1/
src/br/com/mathew/javaCollections/oPoderDosSets
